# based on Tracking-Anything Repository

progressbar2
gdown
gitpython
git+https://github.com/cheind/py-thin-plate-spline
hickle
tensorboard
numpy
gradio
opencv-python
matplotlib
pyyaml
av
openmim
tqdm
psutil
dearpygui
openai==1.63.2
matplotlib==3.7
tikzplotlib
jpeg4py
lmdb
pandas
scipy
loguru
icecream
open_clip_torch==2.30.0
PyQt6==6.8.0