# open-clip-torch
# cudatoolkit==11.6
plyfile==0.8.1
# torch==1.12.1
# torchaudio==0.12.1
# torchvision==0.13.1
tqdm
opencv-python
tensorboard
jaxtyping
matplotlib
typing
pathlib
numpy==1.24.3

scipy==1.13.1
bitarray==3.0.0
dearpygui==2.0.0
hdbscan==0.8.40
icecream==2.1.4
openai==1.59.9