# based on Tracking-Anything Repository

progressbar2
gdown
gitpython
git+https://github.com/cheind/py-thin-plate-spline
hickle
tensorboard
numpy
gradio
opencv-python
matplotlib
pyyaml
av
openmim
tqdm
psutil
dearpygui
openai==1.63.2
matplotlib==3.7
tikzplotlib
jpeg4py
lmdb
pandas
scipy
open_clip_torch==2.30.0
PyQt6==6.8.0
onnx==1.12.0
onnxruntime==1.13.1
onnxsim==0.4.36
numpy==1.24.3
torchpack==0.3.1